In [1]:
import pandas as pd
import numpy as np

df = pd.read_excel("dataset/Energy_Power_Weather.xlsx", sheet_name=0)
df = df.drop(labels=["Timestamp", "Date"], axis=1)
df

      kilowatt-hours  TempMin  TempMax                 Weather
0              2.165       18       23    Patchy rain possible
1              6.470       20       25    Patchy rain possible
2              9.157       21       24    Patchy rain possible
3             16.269       21       25                   Sunny
4              8.447       19       23  Moderate rain at times
...              ...      ...      ...                     ...
1757           4.514       21       23       Light rain shower
1758          11.096       22       26    Patchy rain possible
1759           4.860       20       25       Light rain shower
1760          13.984       23       25       Light rain shower
1761          13.978       22       26    Patchy rain possible

[1762 rows x 4 columns]

In [2]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df["Weather"] = le.fit_transform(df["Weather"])
print(df["Weather"].unique())

[10 11  5  6  7  0  1  4  2  3  9 12  8 13]

# 2.Create data

In [3]:
from sklearn.model_selection import train_test_split

X = []
y = []
dataframe = df.values
for i in range(len(dataframe) - 701):
    X.append(dataframe[i:i+700])
    y.append(dataframe[i+701][0])
X = np.array(X)
y = np.array(y).reshape(-1, 1)

print(X.shape, y.shape)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.shape)

(1061, 700, 4) (1061, 1)
(848, 700, 4)

# 3.Train model

In [4]:
from module.Sequential import Sequential
from module.layers.Dense import Dense

In [5]:
%reload_ext autoreload
%autoreload 2


from module.layers.LSTM import LSTM

# X = np.random.randn(100, 10, 2)
# y = np.random.randn(100, 1)

md = Sequential()
md.add(LSTM(64, active="tanh"))
md.add(Dense(128, active="relu"))
md.add(Dense(1, active="relu"))
md.compile(loss="mse", metric="rmse")
md.fit(X_train, y_train, epochs=3)

Epoch 0  [==========]  loss: 214.9866, metric: 5.0465
Epoch 1  [==========]  loss: 175.5966, metric: 4.8943
Epoch 2  [==========]  loss: 82.4405, metric: 4.3884